<% layout('layout') -%>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="/account/test">
                    <button type="button" class="btn btn-danger">
                        <%= title %>
                    </button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
   
            </div>
        </div>
    </div>